<div class="jumbotron">
  <h1 class="display-4"><%= @user.first_name%> <%= @user.last_name%></h1>
  <p class="lead"><%= @user.description%></p>
  <hr class="my-4">
  <p>Tu as envie de crééer un événement ? Fonce</p>
  <%=link_to "Créer un événement", new_event_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<h2>Les infos de <%=@user.first_name %> <%=@user.last_name %></h2>
		</div>
		<div class="col-sm-12 d-flex justify-content-center">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">First name</th>
			      <th scope="col">Last name</th>
			      <th scope="col">Email address</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><%=@user.first_name %></td>
			      <td><%=@user.last_name %></td>
			      <td><%=@user.email %></td>
			    </tr>
			    <tr>
			  </tbody>
			</table>
		</div>
		<div class="col-sm-12 d-flex justify-content-center">
			<%= link_to edit_user_path(@user.id) do %>
			<button class="btn btn-icon btn-3 btn-primary" type="button">
				<span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
			   <span class="btn-inner--text">Editer mes informations</span>
			</button>
			<%end%>
		</div>
	</div>
</div>
<HR>
<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<h2>Mes événements en tant qu'organisateur</h2>
		</div>
		<div class="col-sm-12 d-flex justify-content-center">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">Evénement</th>
			      <th scope="col">Page de l'événément</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @user_events.each do |event| %>
			    <tr>
			      <td><%=event.title %></td>
			      <td><%= link_to "Voir plus", event_path(event.id) %></td>
			    </tr>
			    <tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>


<HR>
<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<h2>Les événements auxquels je participe</h2>
		</div>
		<div class="col-sm-12 d-flex justify-content-center">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">Evénement</th>
			      <th scope="col">Page de l'événément</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @user.events.each do |event| %>
			    <tr>
			      <td><%=event.title %></td>
			      <td><%= link_to "Voir plus", event_path(event.id) %></td>
			    </tr>
			    <tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>
