<!DOCTYPE html>
<html>
  <head>
    <title>Gossip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav>
          <a href="/" class="nav-title nav-item">Gossip</a>
          <ul class="nav-menu">
            <li><a href="<%= team_path %>" class="nav-link nav-item">L'équipe</a></li>
            <li><a href="<%= users_path %>" class="nav-link nav-item">Membres</a></li>
            <li><a href="<%= cities_path %>" class="nav-link nav-item">Villes</a></li>
            <li><a href="<%= contact_path %>" class="nav-link nav-item">Contact</a></li>
            <% unless current_user %>
              <li><a href="<%= new_user_path %>" class="nav-link nav-item">S'inscrire</a></li>
              <li><a href="<%= new_session_path %>" class="nav-link nav-item">Se connecter</a></li>
            <% else %>
              <li><%= link_to "Se déconnecter", session_path(current_user), method: 'delete', class:"nav-link nav-item" %></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>Le cochon c pas bon</p>
      </footer>
    </div>
  </body>
</html>
