<h1 class="text-center">Liste des Gossips</h1>

<% if @login %>
	<%= link_to "New Gossip", new_gossip_path, :class => "btn btn-primary" %>
	<%= link_to "Logout", logout_path, :class => "btn btn-danger" %>
<% else %>
	<%= link_to "New User", new_user_path, :class => "btn btn-primary" %>
	<%= link_to "Login", login_path, :class => "btn btn-primary" %>
<% end %>

<div class="container" style="margin:20px 0 0 0;">
	<% @gossips.each do |gossip| %>
	  <div class="row">
	    <div class="col-lg-2"><%= link_to gossip.user.first_name, user_path(gossip.user) %></div>
	    <div class="col-lg-4"><%= link_to gossip.title, gossip_path(gossip) %></div>
	  </div>
	<% end %>
</div>
