<h1 class="page-title">Membre</h1>

<div class="show-container">
	<h3 class="user-name"><%= @selected_user.first_name %> <%= @selected_user.last_name %></h3>
	<h4 class="desc-title">Age :</h4>
	<p class="show-description"><%= @selected_user.age %></p>
	<h4 class="desc-title">Ville :</h4>
	<p class="show-description"><%= @selected_city %></p>
	<h4 class="desc-title">Description :</h4>
	<p class="show-description"><%= @selected_user.description %></p>
</div>
