<!DOCTYPE html>
<html lang="en">
    <main>
        <header class="header-account-page bg-gradient-primary d-flex align-items-end">
            <div class="container">
              <h1 class="text-white text-center mt-0" style="font-weight: bold">THP Kittens</h1>
                <div class="row">
                    <div class=" col-lg-12">
                        <div class="row align-items-center mb-4">
                            <div class="col-md-5 mb-4 mb-md-0">
                                <span class="h2 mb-0 text-white d-block">Shopping Cart</span>
                            </div>
                        </div>
                      </header>
        <section class="slice slice-lg">
            <div class="container">
                <!-- Shopping cart -->
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @cart.products.each do |product| %>
                          <%= @cart.cart_products%>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <img alt="Image placeholder" class="mr-3" src="<%=product.image_url%>" style="width: 100px;">
                                        <div class="media-body">
                                            <div class="lh-100">
                                                <span class="text-dark font-weight-bold mb-0"><%=product.title%></span>
                                            </div>
                                            <span class="font-weight-bold text-muted"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="font-weight-bold">$<%=product.price%> USD</span>
                                </td>
                                <td class="text-right">
                                  <%= link_to cart_product_path(product.id), class: "text-light", method: :delete do %>
                                                                          <i class="fas fa-times"></i>
                                    <%end%>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- Cart information -->
                <div class="mt-5 pt-5 delimiter-top">
                    <div class="row justify-content-center">
                        <div class="col-md-5 col-lg-4 text-center">
                            <h5 class="mb-0">Total : <%=@total%> $</h5>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice bg-gradient-primary">
            <span class="tongue tongue-top">
        <i class="fas fa-angle-up"></i>
    </span>
            <div class="container text-center">
                <a href="new_user_cart_charge_path" class="btn btn-white btn-circle mt-4">Place order</a>
            </div>
        </section>

    </main>
