<h1 class="page-title">Potin</h1>

<div class="show-container">
	<h3 class="user-name"><%= @selected_gossip.user.first_name %> <%= @selected_gossip.user.last_name %></h3>
	<p class="desc">Nombre de likes : <%= @selected_gossip.likes.count %></p>
	<h4 class="desc-title"><%= @selected_gossip.title %></h4>
	<p class="show-description"><%= @selected_gossip.content %></p>
</div>

<% unless current_user

		else
			is_liked = 0
			@all_likes.each do |like|
				if like.user_id == session[:user_id] && like.potin_id == @selected_gossip.id
				%>
				<%= form_tag(like_path(@selected_gossip.id), method: 'delete') do %>
				<%= submit_tag('Unlike', :class=>'submit-tag form-item article-btn') %>
				<% end %>
				<% is_liked = 1
				end
			end %>
			<% if is_liked == 0 %>
			<%= form_tag(likes_path, method: 'post') do %>
			<%= hidden_field_tag('id', @selected_gossip.id) %>
			<%= submit_tag('Like', :class=>'submit-tag form-item article-btn') %>
			<% end %>
			<% end
		end %> 

<% unless current_user
else %>

	<% if session[:user_id] == @selected_gossip.user_id
	%>
<div class="show-edit">
<%= link_to 'Editer', edit_gossip_path(@selected_gossip.id), class:'article-btn'%>
<%= link_to 'Supprimer', gossip_path(@selected_gossip.id), method: 'delete', class:'article-btn btn-grey'%>
</div>
<% end %>
<% end %>


<% unless current_user
else %>

<%= form_tag(comments_path, method: 'post') do %>
	<%= hidden_field_tag('potin', @selected_gossip.id) %>
	<%= label_tag('content', 'Nouveau commentaire', :class=>'label-tag form-item tag-row-1') %>
	<%= text_field_tag('content', nil, :class=>'field-tag form-item tag-row-1')%>
	<%= submit_tag('Poster', :class=>'submit-tag form-item article-btn')%>
	<% end %> 
	<% end %>

<% @selected_comments.each do |comment| %>
	<article> 
		<h3 class="user-name"><%= comment.user.first_name %> <%= comment.user.last_name %></h3>
		<h4 class="desc-title">Commentaire</h4>
		<p class="desc"><%= comment.content %></p>

		<% unless current_user
		else %>

		<% if session[:user_id] == comment.user_id
		%>
		<div class="show-edit">
			<%= link_to 'Editer', edit_comment_path(comment.id), class:'article-btn'%>
			<%= link_to 'Supprimer', comment_path(comment.id), method: 'delete', class:'article-btn btn-grey'%>
			</div>
		<% end %>
		<% end %>
	</article>

<% end %> 