</br>
</br>
</br>
</br>
</br>


</br>
</br>
</br>


Mettre dans mon panier lol








<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>Single Product Page</h2>
        <div class="page_link">
          <a href="index.html">Home</a>
          <a href="category.html">Category</a>
          <a href="single-product.html">Product Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_product_img">
          <div class="img_fluid" >


                <%= @id_item.image_url %>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= @id_item.title %></h3>
          <h2><%= @id_item.price %>€</h2>
          <ul class="list">
            <li>
              <a class="active" href="#">
                <span>Category</span> : <%= @id_item.category.title %></a>
            </li>
            <li>
              <a href="#">
                <span>Availibility</span> : In Stock</a>
            </li>
          </ul>
          <p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that
            can make your interior look awesome, and at the same time give you the pleasant warm feeling during the winter.</p>
          <div class="product_count">
            <label for="qty">Quantity:</label>
            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
             class="increase items-count" type="button">
              <i class="lnr lnr-chevron-up"></i>
            </button>
            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
             class="reduced items-count" type="button">
              <i class="lnr lnr-chevron-down"></i>
            </button>
          </div>
          <div class="card_area">

            <%= form_tag(controller:"items", method: "create") do %>
            <%= submit_tag("Ajouter au Panier", :class => "green_btn") %>
            <% end %>
            <a class="icon_btn" href="#">
              <i class="lnr lnr lnr-diamond"></i>
            </a>
            <a class="icon_btn" href="#">
              <i class="lnr lnr lnr-heart"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->
