<%= form_for(user, url: user_path(user), html: { method: :patch }) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <div class="field">
            <%= form.label :first_name, class: "form-control-label" %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "Enter your first name" %>
          </div>
        </div>
    </div>    
    <div class="col-md-6">
      <div class="form-group">
          <%= form.label :last_name, class: "form-control-label" %>
          <%= form.text_field :last_name, class: "form-control", placeholder: "Also your last name" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= form.label :email, class: "form-control-label" %>
          <%= form.email_field :email, class: "form-control", placeholder: "name@exmaple.com" %>
          <small class="form-text text-muted mt-2">This is the main email address that we'll send notifications to. </small>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <%= form.label :user_name, class: "form-control-label" %>
          <%= form.text_field :user_name, class: "form-control", placeholder: "And your user name" %>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="pt-5 mt-5 delimiter-top">

      <div class="page-inner-header mb-4">
          <h5 class="mb-1">About me</h5>

          <p class="text-muted mb-0">Use this field to let others know you better.</p>

      </div>

      <div class="row">
          <div class="col">
              <div class="form-group">
                  <div class="form-group">
                    <div class="field">
                      <%= form.label :description, class: "form-control-label" %>
                      <%= form.text_area :description, class:"form-control", placeholder: "Tell us a few words about yourself", rows: "3" %>
                    </div>
                    <small class="form-text text-muted mt-2">You can @mention other users and organizations to link to them.</small>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="pt-5 mt-5 delimiter-top">
    <%= form.submit "Save changes", class: "btn btn-sm btn-primary" %>      
    <%= link_to 'Cancel', @user, class: "btn btn-link" %> 
  </div>
<% end %>




