<h1 class="text-center">Détails Gossip</h1>

<table>
	<tr><td><b>First Name : &nbsp;</b></td><td><%= @user.first_name %></td></tr>
	<tr><td><b>Last Name : &nbsp;</b></td><td><%= @user.last_name %></td></tr>
	<tr><td>&nbsp;</td><td></td></tr>
	<tr><td><b>Title : &nbsp;</b></td><td><%= @gossip.title %></td></tr>
	<tr><td><b>Content : &nbsp;</b></td><td><%= @gossip.content %></td></tr>
	<tr><td><b>Créé le : &nbsp;</b></td><td><%= @gossip.created_at %></td></tr>
</table>

<div style="margin:20px 0 0 0;">
	<%= link_to "retour", root_path, :class => "btn btn-primary" %>
</div>
