
<%= render 'admins/admin/admin_page' %>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" class="text-center"><i class="fas fa-sort ml-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.order(:id).each do |product| %>
            <tr>
              <td> <%= product.id %></td>
              <%if product.avatar.attached?%>
                <td><%= image_tag product.avatar, alt: 'Image placeholder', class: "mr-3", width: 50, height: 50  %></td>
              <%else%>
                <td><%= image_tag "/assets/img/brand/logo_1.png", alt: 'Image placeholder', class: "mr-3", width: 50, height: 50  %></td>
              <%end%>
              <td><%= product.title %></td>
              <td><%= product.description %></td>
              <td  class="text-center">
                <%= link_to '<i class="far fa-eye"></i>'.html_safe, edit_admins_product_path(product.id), class: "text-decoration-none "  %>
                <a href="<%= admins_product_path(product.id) %>" data-confirm="Etes-vous sûr ?" data-method="DELETE"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
        <% end %>



      </tbody>
    </table>
</div>
