<!DOCTYPE html>
<html>
  <head>
    <title>TKP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>




    <%=render "layouts/modale"%>


    <%= render "layouts/nav"%>
    <%= render "layouts/progress" %>
    <%= render "layouts/flashes"%>

      <%= yield %>
    <%= render "layouts/footer"%>




  </body>
</html>
