<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>

  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/events/new">New Event</a>
        <% if user_signed_in? %>
          <%= link_to "My Profil", "/users/"+current_user.id.to_s, :class => "navbar-brand" %>
          <%= link_to "Log out", destroy_user_session_path,
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' },
                                    :class => "navbar-brand" %>
          <% user = User.find(current_user.id)
            if user.admin == 1 %>
              <%= link_to "Admin", "/users/", :class => "navbar-brand" %>
          <% end %>
        <% else %>
          <%= link_to "Sign in", new_user_registration_path, :class => "navbar-brand" %>
          <%= link_to "Log in", new_user_session_path, :class => "navbar-brand" %>
        <% end %> 
      </nav>
    </nav>
    <%= yield %>
  </body>
</html>
