<div class="jumbotron">
  <h1 class="display-4">Inscription à <%= @event.title%></h1>
  <p class="lead"><%= @event.description%></p>
</div>

<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<h2>Les infos de l'évènement <%=@event.title %></h2>
		</div>
		<div class="col-sm-12 d-flex justify-content-center">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">Title</th>
			      <th scope="col">Description</th>
			      <th scope="col">Day</th>
			      <th scope="col">Start</th>
			      <th scope="col">End</th>
			      <th scope="col">Location</th>
			      <th scope="col">Price</th>
			      <th scope="col"># attendees</th>
			      <th scope="col">Admin contact</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><%=@event.title %></td>
			      <td><%=@event.description %></td>
			      <td><%=@event.start_date.strftime("%d/%m/%Y") %></td>
			      <td><%=@event.start_date.strftime("%H:%M") %></td>
			      <td><%=@event.end_date.strftime("%H:%M") %></td>
			      <td><%=@event.location%></td>
			      <td><%=@event.price%> €</td>
			      <td><%=@event.users.size%></td>
			      <td><%=@event.admin.email%></td>
			    </tr>
			    <tr>
			  </tbody>
			</table>
		</div>

	</div>
</div>


<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<h3>Reserve ta place dès maintenant pour valiser ton inscription</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<%= form_tag(event_attendances_path(@event.id), method: "post", :style => "width:500px") do %>
				<%= form_tag charges_path do %>
				<input type="hidden" value="<%= form_authenticity_token() %>"name="authenticity_token"/>
				  <article>
				    <% if flash[:error].present? %>
				      <div id="error_explanation">
				        <p><%= flash[:danger] %></p>
				      </div>
				    <% end %>
				    <label class="amount">
				      <span>Montant: <%=@event.price%> € </span>
				    </label>
				  </article>

				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-description="Inscription à <%=@event.title %>"
				          data-amount="<%=@event.price.to_i * 100%>"
				          data-locale="auto">
				  </script>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

